.card {
  margin: 0;
  width: 55vh;
  height: 50vh;
  color: white;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 70px;
  margin-top: 50px;
}

.card:hover img {
  opacity: 0.3;
}
.card:hover {
  cursor: pointer;
}

.card img {
  object-fit: cover;
  cursor: pointer;
  height: 30vh;
  width: 55vh;
  background-color: #2a2d2e;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 0%;
}

.cardbody {
  height: 25vh;
  margin: 0;
  background-color: #2a2d2e;
  border-radius: 0px 0px 15px 15px;
}

.cardbody p {
  margin-top: 0;
  font-size: 4vh;
}

.cardbody i {
  font-size: 2vh;
}

.cardbody hr {
  width: 90%;
  opacity: 0.3;
}

.cardbody .genres {
  display: flex;
  width: 100%;
  font-size: 3vh;
  justify-content: left;
}

.cardbody .genres p {
  font-size: 3vh;
  opacity: 0.3;
  margin-left: 20px;
  padding-right: 30px;  
}

.cardbody .genres u {
  font-size: 15px;
  opacity: 0.7;
  margin-right: 15px; 
  margin-top: 3.5px;
}