.card {
  margin: 0;
  width: 40vh;
  height: auto;
  color: white;
  text-align: left;
  border-radius: 15px;
  margin-bottom: 70px;
}

.card p {
  font-size: 3vh;
  opacity: 0.3;
  padding-right: 30px;
}

.card u {
  font-size: 15px;
  opacity: 0.7;
  margin-right: 15px;
  margin-top: 18.75px;
}

.header_card {
  display: flex;
}

.header_card label {
  align-items: center;
}

.card:hover img {
  opacity: 0.3;
}
.card:hover {
  cursor: pointer;
}

.card img {
  object-fit: cover;
  cursor: pointer;
  height: 60vh;
  width: 40vh;
  background-color: #2a2d2e;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 0%;
  /* Sombras */
  -webkit-box-shadow: -8px 3px 5px 1px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -8px 3px 5px 1px rgba(0, 0, 0, 0.43);
  box-shadow: -8px 3px 5px 1px rgba(0, 0, 0, 0.43);
}

.cardbody {
  height: 30vh;
  margin: 0;
  border-radius: 0px 0px 15px 15px;
}

.cardbody i {
  font-size: 2vh;
}

.cardbody hr {
  width: 100%;
  opacity: 0.3;
}

.cardbody .genres {
  display: flex;
  width: 100%;
  font-size: 3vh;
  justify-content: left;
}
